# =================================================
# SysLab 2.0 - Variables de entorno del FRONTEND
# =================================================
# En Vite todas las variables expuestas al navegador
# deben comenzar con el prefijo VITE_

# URL base de la API del backend
VITE_API_URL=http://localhost:4000

# Nombre visible de la aplicacion
VITE_APP_NOMBRE="SysLab 2.0"

# Puerto del servidor de desarrollo de Vite
VITE_PORT=5173
