# ==========================================================
# SysLab 2.0 - Variables de entorno de la RAIZ
# Usadas por docker-compose.yml para el servicio PostgreSQL
# ==========================================================

POSTGRES_USER=syslab_user
POSTGRES_PASSWORD=syslab_pass
POSTGRES_DB=syslab_db
POSTGRES_PORT=5432

# Nombre del proyecto en Docker Compose
COMPOSE_PROJECT_NAME=syslab
